# Packages #
############
**/node_modules/
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Others #
##########
*.json
*.sh
config.json
*.env
.youtube.data
old_files/
sp_auth/